To: @ViewBag.To
From: mordred@resistanceisfuti.le
Subject: @ViewBag.Subject

Dear Spy,

@ViewBag.Message

<a href="https://resistance.azurewebsites.net/#/game/@ViewBag.GameId">Ok, I'll get right to it</a>

<3 Mordred